################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/DemoPipeline/.vs/DemoPipeline/v16/.suo
/DemoPipeline/DemoPipeline/obj
/.vs/demopipeline/v16
/.vs/VSWorkspaceState.json
/DemoPipeline/.vs/DemoPipeline/DesignTimeBuild/.dtbcache.v2
